@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* BASE */
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Fallback color */
}

/* Previene overflow su mobile */
html {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}
/* UTILITIES */
/* Buttons */
.button-bg {
    @apply bg-gradient-to-r from-[#D0365D] via-[#B72F51] to-[#6A1C2F];
}

/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

/* Per Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
}