@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* BASE */
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Fallback color */
}

/* Previene overflow su mobile */
html {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}
/* UTILITIES */
/* Buttons */
.button-bg {
    @apply bg-gradient-to-r from-[#D0365D] via-[#B72F51] to-[#6A1C2F];
}
