@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* BASE */
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #62405A; /* Fallback color */
}

/* Previene overflow su mobile */
html {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}
/* UTILITIES */
/* Buttons */
.button-bg {
    @apply bg-gradient-to-r from-[#D0365D] via-[#B72F51] to-[#6A1C2F];
}

/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.35);
  border-radius: 9999px;
  border: 2px solid transparent;           
  background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255,255,255,0.55);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.35) transparent;
}